# Dependencies
frontend/node_modules/
backend/node_modules/

# Environment files
frontend/.env
backend/.env

# Build folders
frontend/dist/
backend/dist/

# Uploads
backend/uploads/

# Development / Testing Scripts
backend/deleteChunks.js
backend/testEmbedding.js
backend/testRetrieval.js

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Misc
.env